
.ultm-twitter, 
.ultm-twitter.ultm-gray-to-color:hover { background-color: #54c1de; }

.ultm-rss, 
.ultm-rss.ultm-gray-to-color:hover { background-color: #fcba55; }

.ultm-facebook, 
.ultm-facebook.ultm-gray-to-color:hover { background-color: #6686b7; }

.ultm-dribbble, 
.ultm-dribbble.ultm-gray-to-color:hover { background-color: #f5a1bb; }

.ultm-vimeo, 
.ultm-vimeo.ultm-gray-to-color:hover { background-color: #4bbae0; }

.ultm-pinterest, 
.ultm-pinterest.ultm-gray-to-color:hover { background-color: #ff5e63; }

.ultm-instagram-1, 
.ultm-instagram-1.ultm-gray-to-color:hover { background-color: #527fa4; }

.ultm-instagram-2, 
.ultm-instagram-2.ultm-gray-to-color:hover { background-color: #aa7f62; }

.ultm-linkedin, 
.ultm-linkedin.ultm-gray-to-color:hover { background-color: #50a6c1; }

.ultm-evernote, 
.ultm-evernote.ultm-gray-to-color:hover { background-color: #90c945; }

.ultm-youtube-1, 
.ultm-youtube-1.ultm-gray-to-color:hover { background-color: #ee4442; }

.ultm-youtube-2, 
.ultm-youtube-2.ultm-gray-to-color:hover { background-color: #ee4442; }

.ultm-forrst, 
.ultm-forrst.ultm-gray-to-color:hover { background-color: #54a84a; }

.ultm-skype, 
.ultm-skype.ultm-gray-to-color:hover { background-color: #3cb0ee; }

.ultm-flickr-1, 
.ultm-flickr-1.ultm-gray-to-color:hover { background-color: #ffffff; }

.ultm-flickr-2, 
.ultm-flickr-2.ultm-gray-to-color:hover { background-color: #4c98ff; }

.ultm-flickr-3, 
.ultm-flickr-3.ultm-gray-to-color:hover { background-color: #ff549c; }

.ultm-windows, 
.ultm-windows.ultm-gray-to-color:hover { background-color: #2db8ef; }

.ultm-bing, 
.ultm-bing.ultm-gray-to-color:hover { background-color: #feaf2e; }

.ultm-delicious, 
.ultm-delicious.ultm-gray-to-color:hover { background-color: #3d7dd6; }

.ultm-myspace-1, 
.ultm-myspace-1.ultm-gray-to-color:hover { background-color: #487ccd; }

.ultm-myspace-2, 
.ultm-myspace-2.ultm-gray-to-color:hover { background-color: #30a8ed; }

.ultm-google-plus-1, 
.ultm-google-plus-1.ultm-gray-to-color:hover { background-color: #e55e4c; }

.ultm-google-plus-2, 
.ultm-google-plus-2.ultm-gray-to-color:hover { background-color: #666666; }

.ultm-google, 
.ultm-google.ultm-gray-to-color:hover { background-color: #477eba; }

.ultm-whatsapp, 
.ultm-whatsapp.ultm-gray-to-color:hover { background-color: #4cc135; }

.ultm-digg-1, 
.ultm-digg-1.ultm-gray-to-color:hover { background-color: #16acdb; }

.ultm-digg-2, 
.ultm-digg-2.ultm-gray-to-color:hover { background-color: #65a2cf; }

.ultm-deviantart, 
.ultm-deviantart.ultm-gray-to-color:hover { background-color: #6caf7e; }

.ultm-reddit, 
.ultm-reddit.ultm-gray-to-color:hover { background-color: #ff915c; }

.ultm-orkut, 
.ultm-orkut.ultm-gray-to-color:hover { background-color: #eb49a0; }

.ultm-icq, 
.ultm-icq.ultm-gray-to-color:hover { background-color: #73eb33; }

.ultm-viddler, 
.ultm-viddler.ultm-gray-to-color:hover { background-color: #3e80aa; }

.ultm-wordpress, 
.ultm-wordpress.ultm-gray-to-color:hover { background-color: #47a5cf; }

.ultm-lastfm, 
.ultm-lastfm.ultm-gray-to-color:hover { background-color: #f54a3d; }

.ultm-paypal, 
.ultm-paypal.ultm-gray-to-color:hover { background-color: #34aad2; }

.ultm-github-1, 
.ultm-github-1.ultm-gray-to-color:hover { background-color: #b3b3b3; }

.ultm-github-2, 
.ultm-github-2.ultm-gray-to-color:hover { background-color: #b3b3b3; }

.ultm-stumbleupon, 
.ultm-stumbleupon.ultm-gray-to-color:hover { background-color: #ff7144; }

.ultm-slashdot, 
.ultm-slashdot.ultm-gray-to-color:hover { background-color: #379a9b; }

.ultm-behance, 
.ultm-behance.ultm-gray-to-color:hover { background-color: #2faee1; }

.ultm-addthis, 
.ultm-addthis.ultm-gray-to-color:hover { background-color: #fa905e; }

.ultm-tumblr, 
.ultm-tumblr.ultm-gray-to-color:hover { background-color: #476b89; }

.ultm-technorati, 
.ultm-technorati.ultm-gray-to-color:hover { background-color: #59d239; }

.ultm-twitter-2, 
.ultm-twitter-2.ultm-gray-to-color:hover { background-color: #54c1de; }

.ultm-feedburner-1, 
.ultm-feedburner-1.ultm-gray-to-color:hover { background-color: #f5535a; }

.ultm-feedburner-2, 
.ultm-feedburner-2.ultm-gray-to-color:hover { background-color: #ffd537; }

.ultm-google-play, 
.ultm-google-play.ultm-gray-to-color:hover { background-color: #42bfc2; }

.ultm-android, 
.ultm-android.ultm-gray-to-color:hover { background-color: #a3ca30; }

.ultm-yelp, 
.ultm-yelp.ultm-gray-to-color:hover { background-color: #ea5344; }

.ultm-sharethis, 
.ultm-sharethis.ultm-gray-to-color:hover { background-color: #0ec161; }

.ultm-apple, 
.ultm-apple.ultm-gray-to-color:hover { background-color: #b3b3b3; }

.ultm-yahoo, 
.ultm-yahoo.ultm-gray-to-color:hover { background-color: #b95edc; }

.ultm-email-1, 
.ultm-email-1.ultm-gray-to-color:hover { background-color: #35c7ed; }

.ultm-email-2, 
.ultm-email-2.ultm-gray-to-color:hover { background-color: #35c7ed; }

.ultm-blogger, 
.ultm-blogger.ultm-gray-to-color:hover { background-color: #f39d38; }

.ultm-drupal, 
.ultm-drupal.ultm-gray-to-color:hover { background-color: #188ad0; }

.ultm-bitcoin, 
.ultm-bitcoin.ultm-gray-to-color:hover { background-color: #f8a036; }

.ultm-friendfeed, 
.ultm-friendfeed.ultm-gray-to-color:hover { background-color: #4581ca; }

.ultm-xing, 
.ultm-xing.ultm-gray-to-color:hover { background-color: #ebebeb; }

.ultm-aim, 
.ultm-aim.ultm-gray-to-color:hover { background-color: #f3c81c; }

.ultm-stackoverflow, 
.ultm-stackoverflow.ultm-gray-to-color:hover { background-color: #ebebeb; }

.ultm-netvibes, 
.ultm-netvibes.ultm-gray-to-color:hover { background-color: #8bed3c; }

.ultm-qik, 
.ultm-qik.ultm-gray-to-color:hover { background-color: #44829b; }

.ultm-newsvine, 
.ultm-newsvine.ultm-gray-to-color:hover { background-color: #31af2a; }

.ultm-google-chrome, 
.ultm-google-chrome.ultm-gray-to-color:hover { background-color: #309cd2; }

.ultm-mozilla-firefox, 
.ultm-mozilla-firefox.ultm-gray-to-color:hover { background-color: #e47e2b; }

.ultm-internet-explorer, 
.ultm-internet-explorer.ultm-gray-to-color:hover { background-color: #2cb2e9; }

.ultm-opera, 
.ultm-opera.ultm-gray-to-color:hover { background-color: #e03645; }

.ultm-safari, 
.ultm-safari.ultm-gray-to-color:hover { background-color: #5bbcf1; }

.ultm-ebay-1, 
.ultm-ebay-1.ultm-gray-to-color:hover { background-color: #ffffff; }

.ultm-ebay-2, 
.ultm-ebay-2.ultm-gray-to-color:hover { background-color: #f4ae01; }

.ultm-tripadvisor-1, 
.ultm-tripadvisor-1.ultm-gray-to-color:hover { background-color: #ffffff; }

.ultm-tripadvisor-2, 
.ultm-tripadvisor-2.ultm-gray-to-color:hover { background-color: #5b9447; }

.ultm-foursquare, 
.ultm-foursquare.ultm-gray-to-color:hover { background-color: #3ca6d6; }

