
/* Square */
.ultm-64.ultm-square {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.ultm-48.ultm-square {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.ultm-32.ultm-square {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/* Circle */
.ultm-64.ultm-circle {
	-moz-border-radius: 34px;
	-webkit-border-radius: 34px;
	border-radius: 34px;
}

.ultm-48.ultm-circle {
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	border-radius: 26px;
}

.ultm-32.ultm-circle {
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
}
